@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  background-color: #F5F0FA;
}

.container {
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100%;
  height: 30%;
  background-color: #A57EBE;

  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.avator-block {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avator-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar {
  width: 100%;
  height: 7%;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar ul li {
  width: 16.66666%;
  height: 100%;
  background-color: #E6FF7F;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li a {  
}

.navbar ul li:hover {
  opacity: 70%;
}

.main-content {
  width: 100%;
  height: 63%;
  background-color: #FCFAFE;
}

.wiki-side-container {
  width: 5%;
  height: 100%;
  opacity: 0.9;
}

.wiki-content-container {
  width: 95%;
  height: 100%;
  opacity: 0.6;
}